/*Common Elements*/
h1{
    color: rgb(235, 4, 4);
    text-align: center;
    margin-right: 3em;
}
h2 {
    color: rgb(165, 115, 49);
    text-align: right;
    font-size: 24px;
    padding: 0 0 0.5em;
    margin-right: 15px;
}
h4{
    color: rgb(235, 4, 4);
    font-size: 26px;
}
h5{
    color:black;
    font-size: 13px;
}
p {
    color: black;
}
/*Header*/
header {
    padding: 1em 1em 1em 1em;
    background:url(Assets/headpap4.jpg) no-repeat center 0px;
    background-size: 100%;
}
header h1 {
    font-family:'Lobster';
    font-size: 5em;
    text-align: right;
    margin-top: -2em;
    margin-right: -.2em;
    color: rgb(165, 115, 49);
}
header h2 {
    font-family:'Lobster';
    font-size: 3em;
    text-align: right;
    margin-right: 105px;
    color:rgb(165, 115, 49);
}
header h3 {
    font-family:'Lobster';
    color: rgb(165, 115, 49);
    margin-right: 210px;
    text-align: right;
    font-size: 1.5em;
    margin-top: -.5em;
}
/*Nav Bars*/
nav {
    color:rgb(235, 4, 4);
}
nav li {
    line-height: 198%;
    list-style: none;
}
nav li a{
    color: rgb(165, 115, 49);
    text-decoration: none;
    font-size: 18px;
}

/*Sidebar*/
section#sidebar {
    width: 238px;
    float: left;
    position: relative;
    display: block;
    text-align: center;
    background-color: white;
    margin: 1.5em 1em 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border: white solid 5px;
    border-radius: .6em;
    margin-top: 3em;
}
/*Main Section*/
body {
    background-color: tan;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
div.pup {
    float: left;
    position: relative;
    width: 250px;
    margin: 0 1em 2.0em 1em;
    padding: 1.5em;
    background-color: white;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}
div.longTime {
    text-align: center;
    position: relative;
    width: 95vw;
    display: inline-block;
    margin: 0 0.5em 0.5em 1em;
    padding: 0.5em;
    background-color: white;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}
/*Footer*/
footer {
    text-align: center;
    width: 95vw;
    font-size: 15px;
}
footer li {
    list-style: none;
    display: inline;
    padding: 25px;
}
footer a {
    text-decoration: none;
    color: rgb(235, 4, 4);
}
button{
    color:rgb(235, 4, 4);
    margin-left: 7em;
}